<h1 class="acordeon">nosotros</h1>
<div class="acordeon-margin">
    <h3 class="accordion-title">Términos y Condiciones</h3>
    <div class="accordion-content">
        <p>Bienvenidos a Jugueteria Cosmica (el “Sitio”) de cosmica Juguetes S.A.. A continuación se incluyen las condiciones generales de utilización de los servicios ofrecidos en el Sitio</p>
        <p>El “Servicio” y las “Condiciones de Uso” respectivamente que regirán los derechos y obligaciones de entre los usuarios (los “Usuarios” y/o el “Usuario”)</p>
    </div>
    <h3 class="accordion-title">Condiciones de Uso</h3>
    <div class="accordion-content">
        <p>Al ingresar en el Sitio, el Usuario declara saber, conocer y aceptar las presentes condiciones de Uso. Las Condiciones de Uso, así como sus modificaciones, estarán vigentes en forma inmediata a su publicación en el Sitio.</p>
        <p>La utilización del Sitio implica la aceptación plena por parte del Usuario de las Condiciones de Uso.</p>
    </div>
    <h3 class="accordion-title">Naturaleza del Servicio y destino del Sitio</h3>
    <div class="accordion-content">
        <p>El Sitio ha sido programado para que constituya un medio virtual para el acceso de los Usuarios a las góndolas de la tienda de jugueteria cosmica del área de su domicilio.
            Usuarios que pueden utilizar los Servicios del Sitio.</p>
        <p>Los Servicios sólo están disponibles para personas que tengan capacidad legal para contratar. No podrán utilizar los Servicios las personas que no tengan esa capacidad, los menores de edad o Usuarios del Sitio que hayan sido suspendidos temporalmente o inhabilitados definitivamente. Quien registre como Usuario una persona jurídica, deberá tener capacidad para contratar a nombre de tal entidad y de obligar a la misma en los términos de estas Condiciones de Uso.</p>
    </div>
    <h3 class="accordion-title ">Uso de los Servicios</h3>
    <div class="accordion-content">
        <p>El Usuario declara que la información que brindará al remitir el pedido de registración será precisa, correcta y actual comprometiéndose a informar en forma inmediata y fehaciente respecto de cualquier cambio siendo a su vez enteramente responsable frente a jugueteria cosmica por los daños y perjuicios que el incumplimiento de dicha obligación pudiere acarrearle incluyendo pero no limitándose a costos de ubicación física del Usuario, costos de intimaciones y citaciones, etc.</p>
        <p>El Usuario acepta que utilizará los Servicios exclusivamente con los fines estipulados en (a) las Condiciones de Uso y (b) cualquier norma o regulación aplicable ya sea de índole municipal, provincial o nacional incluyendo pero no limitándose a leyes, decretos, ordenanzas, resoluciones, directivas, etc.</p>
    </div>
</div>