<h1>Contacto</h1>

<form>
    <fieldset>
        <h2>Contacto</h2>
            <div>
                <label for="name">Nombre*:</label>
                <input type="text" id="name" name="name" required placeholder="Nombre y Apellido">
            </div>
            <div>
                <label for="email">E-mail*:</label>
                <input type="email" id="email" name="email" required placeholder="Usuario@gmail.com">
            </div>
            <div>
                <label for="comments">Comentarios*:</label>
                <textarea id="comment" name="comment" required></textarea>
            </div>
            <button type="submit" id="enviar" disabled>Enviar</button>
        </fieldset>
    </form>